 {{> navbar2}}
<div class='container grid-lg'>
  {{#if article}} {{#each article}}
  <div class='card'>
    <div class='card-header'>
      <div class='card-title h5'>
        {{this.title}}
      </div>
    </div>
    <div class='card-body'>
      <a href='{{this.link}}' target='_blank'>{{this.link}}</a>
    </div>
    <div class='card-footer'>

      <a class='btn' href='#example-modal-{{_id}}' data-id='{{_id}}'>Notes</a>
      <div class='modal' id='example-modal-{{_id}}'>
        <div class='modal-container' role='document'>
          <div class='modal-header'>
            <a class='btn btn-clear float-right' href='#modals' aria-label='Close'></a>
            <div class='modal-title h5'>{{title}}</div>
          </div>
          <div class='modal-body'>
            <div class='content'>
              {{#if notes}} {{#each notes}}
              <li>{{noteTitle}}: {{noteBody}}</li>
              {{/each}} {{else}}
              <p>No notes here!</p>
              {{/if}}
              <div class='form-group'>
                <label class='form-label' for='input-example-1'>Title</label>
                <input class='form-input' type='text' id='noteTitle' placeholder='Title'>

                <label class='form-label' for='input-example-3'>Note</label>
                <textarea class='form-input' id='noteBody' placeholder='Notes'></textarea>
                <br>
                <button class='btn submitNote' data-id='{{_id}}'>Submit</button>
              </div>
            </div>
          </div>
          <div class='modal-footer'>
            <a class='btn btn-primary' href='#modals'>Close</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{/each}} {{else}}
  <h3>Not articles displaying?</h3>
  <a href='/scrape' class='btn'>
    Click Here
  </a>
  {{/if}}
</div>