{{> navbar2}}

<div class='container grid-md bg-gray box1'>
    {{#if notes}} 
    {{#each notes}}
    <li>{{noteTitle}}: {{noteBody}}</li>
    {{/each}} 
    {{else}}
    <p>No notes here!</p>
    {{/if}}

    <h5>New note</h5>

    {{this.articles}}
    <div class='form-group'>
        <label class='form-label' for='input-example-1'>Title</label>
        <input class='form-input' type='text' id='note-title' placeholder='Title'>

        <label class='form-label' for='input-example-3'>Note</label>
        <textarea class='form-input' id='note-body' placeholder='Notes'></textarea>
        <br>
        <button class='btn submitNote' id= '{{this._id}}'>Submit</button>
    </div>

</div>

